
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:wght@300;400;600&family=Quicksand:wght@300;400;600&display=swap');

  

:root{
    --main-orange: rgb(238, 95, 0);
    --main-black:  hsl(0, 0%, 13%);
    --main-pink:  #fdcad3;
    --main-white:  #fef5ec;
    --main-font:   "Grand Hotel", serif; 

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: var(--main-pink);
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 50px;
    justify-content: space-between;

}

.midsection {
    display: flex;
    justify-content: space-between;
    flex: 0.6;
    list-style: none;
    color: var(--main-black);
    font-family: var(--main-font);
    font-size: 26px;
    
}

.midsection li:hover{
    cursor: pointer;
    color: var(--main-orange);
    transition: all 0.1s ease-in ;

}
.login {
    all: unset;
    display: flex;
    height: 40px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--main-black);
    color: var(--main-white);
    font-size: 20px;  /* Corrected */
    font-family: var(--main-font);  /* Corrected */
    cursor: pointer;
    align-self: center;  
    transition: all 0.1s ease-in-out;
}



.login:hover {
    background: var(--main-orange);
}

.login:active {
    background: var(--main-black);
    color: var(--main-pink);
    transform: scale(0.95); 
    
}
