img {
  border-radius: 10px;
  height: 120px;
  width: 200px;
}

.container {
  align-items: start;
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.two {
  display: flex;
  font-weight: 300;
  gap: 4px;
}
.one {
  margin-top: 0;
}
.duration {
  transform: translate(-250px, 10px);
  background-color: rgba(0, 0, 0, 0.688);
  color: white;
  padding: 2px 2px;
  border-radius: 4px;
}
