@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hind Guntur", sans-serif;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem  2rem; /* Adjusted padding for better spacing */
}

.logo {
    color: white;
    font-size: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem; /* Adjusted padding for consistency */
    font-size: large;
    border: none;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    font-size: small;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    top: 100%; /* Aligns the dropdown content below the button */
    left: 0;   /* Aligns the dropdown content to the left of the button */
}

.dropdown_content a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.dropdown_content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.I{ 
    margin-top: 2rem ; 
}

.Donate:hover{
    margin-top: 2rem ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.968);
    padding: 1em 1em; 
    color: white;
    background-color: black;
}

.Donate {
    margin-top: 2rem ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.968);
    padding: 1em 1em; 
    color: black;
    background-color: white;
}


section p{
    text-align: center;
    text-wrap: balance;
    top: 250px;
    width: 70vw;
    margin: 2rem 4rem 1rem 4rem;
}


.image{
    margin-top: 2em;
    padding: 1px;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg);
    position:  unset;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
}
.Index{
    margin-top: 10rem;
    margin-left: 8rem;
    width: 250px;
    height: 55vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
    padding:2rem ;
    box-sizing: border-box;
}

.heading{
    font-size: xx-large;
    line-height: 35px;
    padding-bottom: 10px;
   width: 50%;
    border-bottom: 3px solid black;
}

.date{
    font-size: smaller;
    padding-top: 4px;
}

.color{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900 ;
    font-size: x-large;
    color: #540078

}

.read{
    border: 1px solid #0029f8;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #4158D0;
    font-weight: bold;
}
.read:hover{
    border: 1px solid #001685;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #3b50b7;
    font-weight: bold;
}

.image1{
    
    padding: 1px;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/460736/pexels-photo-460736.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    position:  unset;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
}
.Index1{
    
    margin-top: 10rem;
    margin-left: 8rem;
    margin-right: 8rem;
    width: 250px;
    height: 55vh;
    background-image: linear-gradient(160deg, #7f2727 32%, #cd7505 100%);
    border-radius: 10px;
    padding:2rem ;
    position: absolute;
    box-sizing: border-box;
    right: 0;
}

.heading1{
    font-size: xx-large;
    line-height: 35px;
    padding-bottom: 10px;
   width: 50%;
    border-bottom: 3px solid black;
}

.date1{
    font-size: smaller;
    padding-top: 4px;
}

.color1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900 ;
    font-size: x-large;
    color: #420000

}

.read1{
    border: 1px solid #6c1810;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #7e1b13;
    font-weight: bold;
}
.read1:hover{
    border: 1px solid #6c1810;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #761912;
    font-weight: bold;
}

.image2{
    
    padding: 1px;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    position:  unset;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
}
.Index2{
    margin-top: 10rem;
    margin-left: 8rem;
    width: 250px;
    height: 55vh;
    background-image: linear-gradient(122deg, #a814cd 36%, #a20924 100%);

    border-radius: 10px;
    padding:2rem ;
    box-sizing: border-box;
}

.heading2{
    font-size: xx-large;
    line-height: 35px;
    padding-bottom: 10px;
   width: 50%;
    border-bottom: 3px solid black;
}

.date2{
    font-size: smaller;
    padding-top: 4px;
}

.color2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900 ;
    font-size: x-large;
    color: #48004d

}

.read2{
    border: 1px solid #48004d;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #6102b9;
    font-weight: bold;
}
.read2:hover{
    border: 1px solid #48004d;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #5902aa;
    font-weight: bold;
}

